<% if @folder.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @folder.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @folder, :html => {class: 'new_folder form-horizontal'} do |f| %>
    <div class="row"><legend class="col-md-4 col-md-offset-4">Rename Folder:</legend></div>
    <fieldset>
        <div class="form-group">
            <%= f.label :name, 'Name', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :name, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <%= f.submit 'Rename Folder', class: 'btn btn-success' %>
            </div>
        </div>
    </fieldset>
<% end %>
