<!DOCTYPE html>
<html>
  <head>
    <title>| VidLinkz |</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
  </head>

  <% if action_name == 'index' %>
    <body class="body-index">
  <% else %>
    <body>
  <% end %>
    <%= render 'partials/navbar' %>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
